html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada");
@import url("https://fonts.googleapis.com/css?family=Barrio");
@import url("https://fonts.googleapis.com/css?family=Coda+Caption:800");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
body, html {
  height: 100%; }

li {
  height: 3em;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 45px; }

li:hover {
  background-color: grey; }

.fun {
  height: 50vh;
  width: 50vw; }

.banner {
  display: flex;
  flex-direction: column;
  background: url("../runbackground.jpg") center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0 auto; }

.circletrain {
  position: absolute;
  vertical-align: middle;
  top: 40px;
  right: 50px;
  height: 200px;
  width: 200px;
  border: 3px solid red;
  border-radius: 50%;
  background: url("../gazelle-eat.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  color: white; }

.circletrain2 {
  position: absolute;
  vertical-align: middle;
  top: 40px;
  right: 300px;
  height: 200px;
  width: 200px;
  border: 3px solid red;
  border-radius: 50%;
  background: url("../lionface.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  color: white; }

.title {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30vh;
  color: white;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  height: 35vh;
  width: 50vw; }

.title2 {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30vh;
  color: white;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  margin-left: 133px;
  justify-content: center;
  height: 35vh;
  width: 50vw; }

.title3 {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30vh;
  color: white;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  justify-content: center;
  height: 35vh;
  width: 50vw;
  padding-left: 24rem; }

.title4 {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30vh;
  color: white;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  justify-content: center;
  height: 35vh;
  width: 50vw;
  padding-left: 42rem; }

.home-main-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background: url("../runbackground2.jpg") center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0 auto; }

.home-left-sidebar {
  display: flex;
  border: 2px solid red;
  height: 60vh;
  width: 14vw;
  background-color: black; }

.side-nav {
  color: white; }

.plus-box {
  height: 50vh;
  width: 30vw;
  border: 2px solid red;
  float: right; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center; }

.quote-text {
  font-family: 'Gloria Hallelujah', cursive;
  quotes: '\0027' '\0027';
  font-size: 35px; }

.mote-main-wrapper {
  background: url("../lion-gazelle.jpg") center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0 auto; }

#top-left-vid {
  width: 0;
  height: 0;
  border-top: 300px solid red;
  border-right: 350px solid transparent;
  padding-bottom: 190px; }

#top-right-vid {
  width: 0;
  height: 0;
  border-top: 325px solid red;
  border-left: 510px solid transparent;
  position: absolute;
  top: 0px;
  right: 0px; }

#vid-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 12rem;
  justify-content: center; }

#vids {
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 15vh; }

#navbar {
  position: fixed;
  width: 100%;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  z-index: 1; }

.left-side {
  height: inherit;
  width: 30%;
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.right-side {
  height: inherit;
  width: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center; }

#navbar a {
  text-decoration: none;
  color: white; }

.choose-main {
  background: linear-gradient(to right, #870000, #190a05);
  height: 100vh;
  width: 100vw; }

.circletrain22 {
  top: 40px;
  right: 300px;
  height: 420px;
  width: 420px;
  border: 3px solid red;
  border-radius: 50%;
  background: url("../lionface.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  color: white;
  opacity: .5; }

.circletrain22:hover {
  top: 40px;
  right: 300px;
  height: 420px;
  width: 420px;
  border: 3px solid red;
  border-radius: 50%;
  background: url("../lionface.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  color: white; }

.circletrain23 {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  top: 40px;
  right: 50px;
  height: 420px;
  width: 420px;
  border: 3px solid red;
  border-radius: 50%;
  background: url("../gazelle-eat.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  color: white; }

#choose-species {
  font-family: 'Coda Caption', sans-serif;
  font-size: 123px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 41px;
  text-align: center; }

.animal-container {
  display: flex;
  justify-content: space-around; }

.home-right-quotes {
  display: flex;
  height: 45vh;
  width: 21vw;
  font-family: 'Barrio';
  font-weight: bold;
  quotes: '\0027' '\0027';
  font-size: 35px;
  color: white;
  padding-top: 75px; }

.form {
  position: absolute;
  height: 30vh;
  width: 20vw;
  border: 2px solid red; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

.welcome-lion-top {
  position: absolute;
  height: 20vh;
  width: 50vw;
  font-family: 'Source Code Pro', monospace;
  font-size: 6rem;
  color: black;
  margin-left: 25%;
  margin-top: 7rem;
  text-align: center; }

.home-box {
  margin-top: 92px;
  background-color: blue;
  height: 20vh;
  width: 20vw;
  border: 2px solid red; }

/*# sourceMappingURL=maps/styles.css.map */
