<div class="mote-main-wrapper">

  <nav id="navbar">

               <a ui-sref="home" target="_blank">Home</a>
               <a ui-sref="landing" target="_blank">Landing</a>
               <a ui-sref="motivation" target="_blank">Motivation</a>
               <!-- <a href="" target="_blank">Discover</a>
               <a href="" target="_blank">Contact Us</a> -->

           <!-- <div class="right-side">
              <a href="" target="_blank">Sign Up</a>
              <a href="" target="_blank">Login</a>
           </div> -->
        </nav>

<div id="top-left-vid"></div>
<div id="top-right-vid"></div>
  <!-- <iframe id="mote-vid-1" src="https://www.youtube.com/embed/dkupV4Z64Cg" frameborder="0" allowfullscreen></iframe> -->

<div id="vid-container">
<div id="vids"><iframe width="225" height="140" src="https://www.youtube.com/embed/dkupV4Z64Cg" frameborder="0" allowfullscreen></iframe></div>
<div id="vids"><iframe width="225" height="140" src="https://www.youtube.com/embed/lsSC2vx7zFQ" frameborder="0" allowfullscreen></iframe></div>
<div id="vids"><iframe width="225" height="140" src="https://www.youtube.com/embed/g-jwWYX7Jlo" frameborder="0" allowfullscreen></iframe></div>
</div>
<div id="lion-or-gazelle">African Proverb of the Lion and the Gazelle
  <button class="btn btn-danger" ng-click="show = !show">Show</button>
  <div class="story-contain" ng-show="show">
    <p>“Every morning in Africa, a gazelle wakes up, it knows it must outrun the fastest lion or it will be killed. Every morning in Africa, a lion wakes up. It knows it must run faster than the slowest gazelle, or it will starve. It doesn't matter whether you're the lion or a gazelle-when the sun comes up, you'd better be running.”</p>
</div>
  <!-- <div class="footer">
    <a href="https://www.facebook.com/jonmichael.dreher"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </div>

</div>
