<div class="mote-main-wrapper">

  <nav id="navbar">
           <div class="left-side">
               <a ui-sref="home" target="_blank">Home</a>
               <a href="" target="_blank">How It Works</a>
               <a href="" target="_blank">Discover</a>
               <a href="" target="_blank">Contact Us</a>
           </div>
           <div class="right-side">
              <a href="" target="_blank">Sign Up</a>
              <a href="" target="_blank">Login</a>
           </div>
        </nav>

<div id="top-left-vid"></div>
<div id="top-right-vid"></div>

  <!-- <iframe id="mote-vid-1" src="https://www.youtube.com/embed/dkupV4Z64Cg" frameborder="0" allowfullscreen></iframe> -->

<div id="vid-container">
<div id="vids"><iframe width="225" height="140" src="https://www.youtube.com/embed/dkupV4Z64Cg" frameborder="0" allowfullscreen></iframe></div>
<div id="vids"><iframe width="225" height="140" src="https://www.youtube.com/embed/lsSC2vx7zFQ" frameborder="0" allowfullscreen></iframe></div>
<div id="vids"><iframe width="225" height="140" src="https://www.youtube.com/embed/g-jwWYX7Jlo" frameborder="0" allowfullscreen></iframe></div>
</div>

  <footer class="footer"></footer>

</div>
